/* src/index.css */
:root {
  --primary-color: #000;
  --bg-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif; /* プロフェッショナルなフォント指定 */
  background-color: var(--bg-color);
  color: var(--primary-color);
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}